.hero{
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin-top: 2rem;

}

.hero-image{
    border-radius: 50%;
    width: 6rem;
    height: 6rem;
    
}

.hero-subtitle{
    color: var(--color-slate800);
    font-size: var(--size-base);
    line-height: 0.9;
}

.hero-title{
    color: var(--color-slate400);
    text-transform: uppercase;
    font-size: var(--size-4xl);
    letter-spacing: -0.05em;
    line-height: 0.9;
}

.hero-description{
    max-width: 60ch;
    font-size: var(--size-sm);
    color: var(--color-slate600);

}

.hero-btn{
    text-transform: capitalize;
    font-size: var(--size-sm);
}


/* extra-small */
@media(min-width:475px){
    .hero{
  
    gap: 1.5rem;
    

}

.hero-image{
    border-radius: 50%;
    width: 6.5rem;
    height: 6.5rem;
}

.hero-subtitle{
   
    font-size: var(--size-lg);
   
}

.hero-title{
   
    font-size: var(--size-5xl);
    
}

.hero-description{
  
    font-size: var(--size-base);


}

.hero-btn{
  
    font-size: var(--size-base);
}

}
/* small (sm) */
/* @media (min-width: 640px){} */
/* medium (md) 
/* @media (min-width: 768px){} */
/* /* large (lg)  */
@media (min-width: 1024px){
   

.hero-image{
    
    width: 8rem;
    height: 8rem;
}

.hero-subtitle{
   
    font-size: var(--size-2xl);
   
}

.hero-title{
   
    font-size: var(--size-7xl);
    
}

.hero-description{
  
    font-size: var(--size-lg);


}

.hero-btn{
  
    font-size: var(--size-lg);
}
}
/* /* extra-large (xl)  */
@media (min-width: 1280px){
      .hero{
  
    gap: 2rem;
    

}

.hero-image{
    
    width:10rem;
    height: 10rem;
}

.hero-subtitle{
   
    font-size: var(--size-4xl);
   
}

.hero-title{
   
    font-size: var(--size-9xl);
    
}

.hero-description{
  
    font-size: var(--size-xl);


}

.hero-btn{
  
    font-size: var(--size-xl);
}
}
/* /* double-large(2xl)  */
/* @media(min-width:1536px){} */