.work{
    text-align: center;
}
.work-title{
    font-size: var(--size-2xl);
    color: var(--color-light);
    /* text-align: center; */
}
.work-description{
    max-width: 60ch;
    font-size: var(--size-sm);
    color: var(--color-slate600);
    /* text-align: center; */
    margin: 1rem auto;
}

.work-projecttitle{
    font-size: var(--size-base);
    margin-bottom: 1rem;
}

.work-imagewrapper{
    position: relative;
}
.work-project-subtitle{
    display: none;
}

.work-imagewrapper::after{
    content: '';
    background-color: rgba(79,70,229,0.4);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    transition: background-color 0.3s;
}

.work-imagewrapper:hover::after{
    background-color: rgba(79,70,229,0.1);
}

.work-project:not(:last-child){
     margin-bottom: 5rem;
}

.work-project-description1{
    font-size: var(--size-sm);
    color: var(--color-slate600);
    margin: 1rem 0;
}
.work-project-description2{
    font-size: var(--size-sm);
    color: var(--color-slate400);
    margin-bottom: 1rem;
}
.project-btn{
    font-size: var(--size-sm);
}

/* extra-small */
@media(min-width:475px){
    .work-title{
    font-size: var(--size-3xl);
   
}
.work-description{
  
    font-size: var(--size-base);
  
    margin: 1.5rem auto;
}
.work-projecttitle{
    font-size: var(--size-lg);
    margin-bottom: 1.5rem;
}
.work-project-description1{
    font-size: var(--size-base);
    
    margin: 1.5rem 0;
}
.work-project-description2{
    font-size: var(--size-base);
    
    margin-bottom: 1.5rem;
}
.project-btn{
    font-size: var(--size-base);
}
}

/* small (sm) */
@media (min-width: 640px){
    .work-container{
        display: grid;
        grid-template-columns: 1fr 1fr;
        place-items: center;
        grid-template-areas: 
        "image1 content1"
        "content2 image2"
        "image3 content3"
        "content4 image4"
        "image5 content5"
        "content6 image6";
    }
    .work-image1{
        grid-area: image1;
    }
    .work-image2{
        grid-area: image2;
    }
    .work-image3{
        grid-area: image3;
    }
    .work-image4{
        grid-area: image4;
    }
    .work-image5{
        grid-area: image5;
    }
    .work-image6{
        grid-area: image6;
    }
    .work-content1{
        grid-area: content1;
    }
    .work-content2{
        grid-area: content2;
    }
    .work3content3{
        grid-area: content3;
    }
    .work-content4{
        grid-area: content4;
    }
    .work-content5{
        grid-area: content5;
    }
    .work-content6{
        grid-area: content6;
    }
    .work-projecttitle{
        display: none;

    }
    .work-project-description1{
    font-size: var(--size-xs);
    
    margin: 1em 0;
}
.work-project-description2{
    font-size: var(--size-xs);
    
    margin-bottom: 1em;
}
.project-btn{
    font-size: var(--size-xs);
}
.work-project:not(:last-child){
     margin-bottom: 0;
}
.work-project-subtitle{
    display: block;
    font-size: var(--size-base);
}
.work-project{
    padding: 0 1rem;
}
}
/* medium (md) */
@media (min-width: 768px){
     .work-project-description1{
    font-size: var(--size-sm);
    
   
}
.work-project-description2{
    font-size: var(--size-sm); 
    
   
}
.project-btn{
    font-size: var(--size-sm);
}
.work-project-subtitle{
   
    font-size: var(--size-lg);
}
}

/* /* large (lg)  */
@media (min-width: 1024px){
        .work-title{
    font-size: var(--size-4xl);
   
}
.work-description{
  
    font-size: var(--size-lg);

}
     .work-project-description1{
    font-size: var(--size-base);
    
   
}
.work-project-description2{
    font-size: var(--size-base); 
    
   
}
.project-btn{
    font-size: var(--size-base);
}
.work-project-subtitle{
   
    font-size: var(--size-xl);
}
}
/* /* extra-large (xl)  */
@media (min-width: 1280px){
        .work-title{
    font-size: var(--size-5xl);
   
}
.work-description{
  
    font-size: var(--size-xl);
     margin: 2rem auto;
 
}

 .work-project-description1{
    font-size: var(--size-lg);
    
   
}
.work-project-description2{
    font-size: var(--size-lg); 
    
   
}
.project-btn{
    font-size: var(--size-lg);
}
.work-project-subtitle{
   
    font-size: var(--size-2xl);
}
.work-container{
    width: 80%;
    margin: 0 auto;
}
}
/* /* double-large(2xl)  */
@media(min-width:1536px){
    .work-container{
        width: 70%;
    }
}